.MemesUploader {
    background: #ccc;
    border: 3px dashed #eee;
    height: 100px;
}

.MemesUploader div {
    height: inherit;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    outline: none;
}

.MemesUploader p {
    text-align: center;
}
